
<%-include('header')-%>

    <div class="container-fluid ">
        <div class="row ">
            
            <div class="card col-9 col-md-6 col-l-5 col-xl-4 m-auto border border-secondary shadow">
                <div class="login-text text-center my-auto"><h1 class="h1">LOGIN</h1></div>
                <span class="text-center">Login for the existing user.</span>
                <div class="">
                    
                    <% if(locals.logout){%>
                        <div class="alert alert-success text-center">
                            <%=logout%>
                        </div>
                    <%}%>
                    <form action="/route/login" method="post">
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                                class="bi bi-person-circle mt-4 mb-4" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </div>
                        <div class="">
                            <input type="email" class="form-control my-3 mb-4 text-box mx-auto" name="email" id="name"
                                placeholder="Email">
                            <input type="password" class="form-control my-3 mb-4 text-box mx-auto" name="password" id="password"
                                placeholder="password">
                            <div class="text-center"><button type="submit"  class="btn bg-primary mb-4 ps-3 pe-3 ">submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%-include('footer')-%>

